{% extends "layout.njk" %} 

{% set title = 'in-page JS' %}
{% set pagename = 'inpagejs' %}

{% block maincontent %}
    <button id="click-me" class="button">Click me to trigger an alert.</button>
{% endblock maincontent%}

{% block js %}
<script type="text/javascript">
$('#click-me').on('click', function(){
    alert('Button clicked!');
});
</script>
{% endblock %}
